@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    padding: 20px;
    background: #F8F8F8;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.header {
    width: 100%;
    margin-bottom: 30px;

    &-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .header-menu {
            width: 26px;
            height: 26px;
        }

        .header-logo {
            width: 37px;
            height: 13px;
        }

        .header-notifications {
            width: 18px;
            height: 20px;
        }
    }

    &-bottom {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;

        .search {
            height: 100%;
            background-color: white;
            border-radius: var(--border);
            -webkit-border-radius: var(--border);
            -moz-border-radius: var(--border);
            -ms-border-radius: var(--border);
            -o-border-radius: var(--border);
            flex-grow: 1;
            padding: 0 0 0 18px;

            &::placeholder{
                color: rgba(45, 41, 66, 0.5);
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
            }
        }
    }

        .filter{
            flex-shrink: 0;
            margin-left: 16px;
            width: 50px;
            height: 50px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--border);
            -webkit-border-radius: var(--border);
            -moz-border-radius: var(--border);
            -ms-border-radius: var(--border);
            -o-border-radius: var(--border);
        }
}

.popular{
    width: 100%;

    &-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .title{
            font-size: 18px;
            font-weight: 600;
        }

        .more{
            height: 5px;
            width: 20px;
        }
    }
}